{% extends "base.html" %}

{% block body %}



<div id="map"></div>

    <script type="text/javascript">
        map = new L.Map('map');

        var osmUrl='http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png';
        var osmAttrib='Map data © OpenStreetMap contributors';
        var osm = new L.TileLayer(osmUrl, {attribution: osmAttrib});       

        map.setView(new L.LatLng(38.972180,-92.316170), 12);
        map.addLayer(osm);

        $.getJSON('/points/', function(data, textStatus, jqXHR) {
            for (var i = 0; i < data.length; i++) {
                L.marker([data[i].lat, data[i].lng]).addTo(map)
                    .bindPopup("<b>Hello world!</b><br />I am a popup.");
                //html += '<div class="item">' + '<a href="' + link + '" target="_blank">' + text + '</a></div>';
            }
        }); 
    </script>
</div>

<div id="navstuff" style="width:100%; margin-top:20px; text-align:center;">

    <select>
        <option>Arson</option>
    </select>
</div>

{% endblock %}
